@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #b88e2f;
  --font-poppins: "Poppins", "sans-serif";
  --tracking-3px: 3px;
}

.homegrid {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(8,1fr);
}
